<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <input type="text" v-model="newText" @keyup.enter="addItem()">
        <ul>
            <li v-for="item in toDoList">{{item.text}}</li>
        </ul>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>